h1{
    color: rgb(17, 169, 200);
}
body{
    text-align: center;
    margin: 100x auto;
    color: azure;
}
h2
{
     color: rgb(93, 155, 167);
}
.prince{
    color: beige;
}

#main{
    color: rgb(230, 99, 17);
}
